@charset "UTF-8";

/* h1 font設定 */
h1 {
    font-family: 'Philosopher', sans-serif;
}

/* html のフォントサイズを100％ ?何に対して?　*/
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    color: #432
}

/* header　横並び、一番大きくて1100pxまで、余白は画面の左に２％　*/

.page-header {
    display: flex;
    max-width: 1100px;
    margin: 0;
    padding: 0 2%;
}



.main-nav {
    display: flex;
    font-size: 1.25rem;
    list-style: none;
}

.main-nav li {
    margin: 30px 15px;
}